body {
  font-family: Helvetica, Arial, sans-serif;
}

/*White Section (section on the right near the big planet picture)*/

#white_section {
  width: 750px;
  border: 1px solid black;
  border-top-right-radius: 25px;
}

#path {
  margin-top: 0px;
  margin-bottom: 0px;
}

#path li {
  display: inline;
  font-size: 13px;
}

#path a {
  text-decoration: none;
  color: rgb(57, 109, 192);
}

#path a:hover {
  text-decoration: underline;
}

#path_bottom_border {
  border-bottom: 1px solid gray;
  width: 698px;
}

#white_section h2 {
  font-size: 18px;
  margin-top: 3px;
  padding-left: 40px;
  margin-bottom: 4px;
}

#blue_within_white {
  background-color: rgb(202, 214, 232);
  width: 750px;
  min-height: 300px; /*while working on */
  /* Box shadow for top only from http://jsfiddle.net/karigrooms/3fTyt/ */
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
  box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
}

#blue_within_white li{
  display: inline;
}

#blue_within_white .tabs_ul a {
  color: rgb(114, 138, 177);
  background-color: rgb(225, 235, 249);
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  /*border: 1px solid rgb(188, 201, 223);*/
  padding: 4px 50px;
}

#blue_within_white .tabs_ul li #overview {
  background-color: white;
  border-bottom: 0px;
}

#blue_within_white .tabs_ul #overview {

}

#blue_within_white .tabs_ul a:hover {
  color: rgb(53, 82, 133);
}

.tabs a {
  margin-top:200px;
  margin-right: -3px;
  -webkit-box-shadow: 0px 4px 7px 0px rgba(156, 174, 206, 1);
  -moz-box-shadow:  0px 4px 7px 0px rgba(156, 174, 206, 1);
  box-shadow: 0px 4px 7px 0px rgba(156, 174, 206, 1);

}

.tabs_ul {
  /* moves tabs down from top-border of #blue_within_white */
 position: relative;
 top: 13px;
}

#blue_within_white .tabs_ul:first-child {
  left: 85px;
  /*this indents the top line of folder tabs */
}

#blue_within_white .tabs_ul:nth-child(2)  {
  top: 7px;
}

#blue_within_white .tabs_ul:nth-child(2) .tabs a {
  box-shadow: none;
}

#blue_within_white .tabs_ul #education_tab {
  border-top-left-radius: 22px!important;
}


#white_middle_container {
  /*This is the div with a white background spanning
  from the bottom of the folder tabs to the bottom
  of the main content section.*/
  width: 734px;
  background-color: white;
  margin: -6px 10px 17px 10px;
}

#white_middle_container img {
  height: 350px;
  width: 702px;
}

#white_middle_container figcaption {
  color: rgb(26, 66, 165);
  font-size: 11px;
}

#moon_box {
  position: relative;
  top: 10px;
  border: 1px solid rgb(121, 142, 178);
}